@font-face
{
    font-family:'naskh';
    font-display:swap;
    font-style:normal;
    src: url('DroidNaskh-Regular.woff2') format('woff2');
}
@font-face
{
    font-family:'icon';
    font-display:swap;
    font-style:normal;
    src: url('Material-Icons.woff2') format('woff2');
}
.icon
{
    font-family:'icon';
    font-size:inherit;
    font-style:normal;
    vertical-align:middle;
}
html
{
    margin:0;
}
body
{
    font-family:'naskh';
    max-width:1000px;
    margin:0 auto;
    padding:1em;
    text-align:center;
    line-height:2.5;
}
button, input
{
    font-family:'naskh';
    appearance:none;
    -webkit-appearance:none;
    box-sizing:border-box;
    border:0;
    outline:0;
    background:none;
    color:inherit;
}
header h1
{
    font-size:4em;
    margin-bottom:0;
}
header h2
{
    margin-top:-1em;
    font-weight:normal;
    font-size:1em;
    margin-bottom:2em;
}
#D
{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    padding:1em 2em;
    overflow:auto;
    box-sizing:border-box;
}
#qTxt
{
    width:100%;
    font-size:inherit;
    padding:1em;
    border-bottom:2px solid;
}
#result
{
    padding:1em 0;
}
button
{
    display:block;
    font-size:inherit;
    text-align:right;
    margin-bottom:1em;
}
#result button .icon
{
    font-size:1.5em;
    display:inline-block;
}
#close
{
    text-align:center;
    border-radius: 1em;
    margin-bottom:.7em;
}
#D #res table
{
    width:100%;
}
#D #res table td:nth-child(even)
{
    padding-right:1em;
    border-right:1px solid;
}
footer
{
    text-align:left;
    margin-top:1em
}
footer button
{
    display:inline-block;
    vertical-align:middle;
}
footer .icon {
    font-size:1.2em;
}
#codeBtn {
    font-size:1.4em;
}
.num
{
    direction:ltr;
    font-style:normal;
    display:inline-block;
}
